{% assign candidate = include.candidate %}
{% assign finance = include.finance %}

<section class="l-section">
  <div class="l-section__content">
    {% if candidate.data_warning %}
      {% include alert-message.html message=candidate.data_warning %}
    {% endif %}
    {% if finance.total_contributions > 0 or finance.total_expenditures > 0 %}
    <div class="candidate__summary candidate__summary--contributions">Contributions: <span class="money">{{ finance.total_contributions | dollars }}</span></div>
    <div class="candidate__summary candidate__summary--expenditures">Expenditures: <span class="money">{{ finance.total_expenditures | dollars }}</span></div>
    {% if finance.total_loans_received > 0 %}
    <div class="candidate__summary candidate__summary--loans">Loans: <span class="money">{{ finance.total_loans_received | dollars }}</span></div>
    {% endif %}
    <div class="candidate__summary candidate__summary--balance">Current balance: <span class="money">{{ finance.total_contributions | minus: finance.total_expenditures | minus: finance.total_loans_received | dollars }}</span></div>
    {% else %}
    <div class="candidate__summary">No contribution data found for this candidate.</div>
    {% endif %}
  </div>
</section>
{% assign expenditures_against = finance.opposing_money.opposing_expenditures %}
{% assign independent_expenditures_for = finance.supporting_money.total_supporting_independent %}
{% if expenditures_against > 0 or independent_expenditures_for > 0 %}
<section class="l-section">
  <div class="l-section__content">
    {% if expenditures_against > 0 %}
    <div class="candidate__expenditures">
      Independent expenditures opposing candidate <span class="money">{{ expenditures_against | dollars }}</span>
      <span class="hover-info-container"><img src="{{ '/assets/images/icon_more_info.png' | relative_url }}"
        alt="Independent expenditures - more information" />
        <span class="hover-info">Spending by third parties that advocates the election or defeat of a candidate and is not made in coordination with a candidate or campaign committee is termed an independent expenditure. To learn more,
          <a href="{{ site.baseurl }}/faq/">see the FAQ </a>.</span>
      </span>
    </div>
    {% endif %}
    {% if independent_expenditures_for > 0 %}
    <div class="candidate__expenditures">
      Independent expenditures supporting candidate <span class="money">{{ independent_expenditures_for | dollars }}</span>
      {% if expenditures_against <= 0 %}
      <span class="hover-info-container"><img src="{{ '/assets/images/icon_more_info.png' | relative_url }}"
        alt="Independent expenditures - more information" />
        <span class="hover-info">Spending by third parties that advocates the election or defeat of a candidate and is not made in coordination with a candidate or campaign committee is termed an independent expenditure. To learn more,
          <a href="{{ site.baseurl }}/faq/">see the FAQ </a>.</span>
      </span>
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
{% if finance.total_contributions > 0 or finance.total_expenditures > 0 %}
{% assign money_bar_max = finance.total_contributions | plus: finance.total_expenditures %}
<section class="l-section">
  <div class="l-section__content l-section__content--half">
    <div class="subheading">Money coming in</div>
    <h2 class="candidate__money-heading">Contributions</h2>
    <div class="candidate__money-total money">{{ finance.total_contributions | dollars }}</div>
    {% for contribution_type in finance.supporting_money.contributions_by_type %}
      {% assign label=contribution_type[0]  %}
      {% assign value=contribution_type[1]  %}
      {% include money-bar.html label=label value=value color="green" max=money_bar_max %}
    {% endfor %}
    {% if candidate.filer_id and candidate.filer_id != "" %}
      <p><a href="{{ site.baseurl }}/committee/{{ candidate.filer_id }}/">See all contributions</a></p>
    {% endif %}
  </div>
  <div class="l-section__content l-section__content--half">
    <div class="subheading">Money going out</div>
    <h2 class="candidate__money-heading">Expenditures</h2>
    <div class="candidate__money-total money">{{ finance.total_expenditures | dollars }}</div>
    {% for expenditure_type in finance.supporting_money.expenditures_by_type %}
      {% assign label=expenditure_type[0]  %}
      {% assign value=expenditure_type[1]  %}
      {% include money-bar.html label=label value=value color="red" max=money_bar_max %}
    {% endfor %}
  </div>
</section>
{% assign money_bar_max = finance.total_contributions %}
<section class="l-section">
  <div class="l-section__content">
    <div class="subheading">Money coming in</div>
    <h2 class="candidate__money-heading">Contributions</h2>
    <div class="candidate__money-total money">{{ finance.total_contributions | dollars }}</div>
    {% for contribution_type in finance.supporting_money.contributions_by_origin %}
      {% assign label=contribution_type[0]  %}
      {% assign value=contribution_type[1]  %}
      {% include money-bar.html label=label value=value color="green" max=money_bar_max format='percent' %}
    {% endfor %}
  </div>
</section>
{% endif %}
