{% assign candidate = include.candidate %}
{% assign finance = include.finance %}

<section class="l-section">
  <div class="l-section__content">
    {% if candidate.data_warning %}
      {% include alert-message.html message=candidate.data_warning %}
    {% endif %}
    {% if finance.total_contributions > 0 or finance.total_expenditures > 0 %}
    <div class="candidate__summary candidate__summary--contributions">Contributions: <span class="money">{{ finance.total_contributions | dollars }}</span></div>
    {% if candidate.public_funding_received %}
    <div class="candidate__summary candidate__summary--public-financing">
      Public financing received:
      {% capture tooltip_message -%}
      Eligible City Council candidates may apply for public funds to reimburse certain campaign expenses. Learn more from the <a href="https://www.oaklandca.gov/topics/limited-public-financing-program" target="_blank">Public Ethics Commission's Public Financing Program</a>.
      {%- endcapture %}
      {% include tooltip.html message=tooltip_message %}
      <span class="money">{{ candidate.public_funding_received | dollars }}</span>
    </div>
    {% endif %}
    <div class="candidate__summary candidate__summary--expenditures">Expenditures: <span class="money">{{ finance.total_expenditures | dollars }}</span></div>
    {% if finance.total_loans_received > 0 %}
    <div class="candidate__summary candidate__summary--loans">Loans: <span class="money">{{ finance.total_loans_received | dollars }}</span></div>
    {% endif %}
    <div class="candidate__summary candidate__summary--balance">Current balance: <span class="money">{{ finance.total_contributions | minus: finance.total_expenditures | minus: finance.total_loans_received | dollars }}</span></div>
    {% else %}
    <div class="candidate__summary">No contribution data found for this candidate.</div>
    {% endif %}
  </div>
</section>
{% if finance.total_contributions > 0 or finance.total_expenditures > 0 %}
{% assign money_bar_max = finance.total_contributions | plus: finance.total_expenditures %}
<section class="l-section">
  <div class="l-section__content l-section__content--half">
    <div class="subheading">Money coming in</div>
    <h2 class="candidate__money-heading">Contributions</h2>
    <div class="candidate__money-total money">{{ finance.total_contributions | dollars }}</div>
    {% for contribution_type in finance.supporting_money.contributions_by_type %}
      {% assign label=contribution_type[0]  %}
      {% assign value=contribution_type[1]  %}
      {% include money-bar.html label=label value=value color="green" max=money_bar_max %}
    {% endfor %}
    {% if candidate.filer_id and candidate.filer_id != "" %}
      <p><a href="{{ site.baseurl }}/committee/{{ candidate.filer_id }}/">{% include
        svg-icon.html icon="table-solid" %} See all contributions</a></p>
    {% endif %}
  </div>
  <div class="l-section__content l-section__content--half">
    <div class="subheading">Money going out</div>
    <h2 class="candidate__money-heading">Expenditures</h2>
    <div class="candidate__money-total money">{{ finance.total_expenditures | dollars }}</div>
    {% for expenditure_type in finance.supporting_money.expenditures_by_type %}
      {% assign label=expenditure_type[0]  %}
      {% assign value=expenditure_type[1]  %}
      {% include money-bar.html label=label value=value color="red" max=money_bar_max %}
    {% endfor %}
  </div>
</section>
{% assign money_bar_max = finance.total_contributions %}
<section class="l-section">
  <div class="l-section__content">
    <div class="subheading">Money coming in</div>
    <h2 class="candidate__money-heading">Contributions</h2>
    <div class="candidate__money-total money">{{ finance.total_contributions | dollars }}</div>
    {% for contribution_type in finance.supporting_money.contributions_by_origin %}
      {% assign label=contribution_type[0]  %}
      {% assign value=contribution_type[1]  %}
      {% include money-bar.html label=label value=value color="green" max=money_bar_max format='percent' %}
    {% endfor %}
    <br />
    {% if candidate.map_url %}
      <div class="candidate__link"><a href="{{ candidate.map_url }}" target="_blank">{% include
        svg-icon.html icon="map-marked-alt-solid" %} View contributor map</a></div>
    {% endif %}
  </div>
</section>
{% endif %}
