$ballot-nav-border: 2px $color-grey-4-5 solid;

.ballot-nav {
  @include media($grid--medium) {
    // Add gutter for the border
    padding-right: $gutter--large;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $heading-color--light;
    font-weight: $font-weight-light;
  }

  // Collapse the gutter for l-sections so they consume the full-width, including the left margin.
  .l-section {
    @include grid-media($neat-grid--medium) {
      @include grid-collapse;
    }
  }

  p {
    margin: auto;
  }

  a {
    display: block;
    padding: $spacing-base;
  }

  a:hover {
    background-color: $color-gold;
  }
}

a {
  text-decoration: none;
}

.current-page {
  background-color: $color-gold;
}

.ballot-nav__group {
  border-top: 2px $color-grey-4-5 solid;

  h4 {
    font-weight: lighter;
  }
}

.ballot-nav__measure-title {
  display: block;
  color: $subheading-color;
  font-style: italic;
  font-size: $small-font-size;
}
