$candidate-photo-width: 10rem;

.candidate__occupation-commitee-name {
  @include heading('h3');
  color: $subheading-color;
  font-style: italic;
  font-size: $h5-font-size;
  margin-bottom: $spacing-base * .5;
}

.candidate__expenditure-ceiling {
  color: $subheading-color;
  font-style: italic;
  font-size: $h6-font-size;
  margin-bottom: $spacing-base;
}

.candidate__info-container {
  @include grid-container;
  @include grid-collapse;
  margin-bottom: ($spacing-base * 2);
}

.candidate__link {
  // scss-lint:disable VendorPrefix
  line-height: 1; // Aligns the icons better
  margin-bottom: 0.5rem;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-character: '';
  -moz-hyphenate-character: '';
  -ms-hyphenate-character: '';
  word-break: break-all;

  a {
    text-decoration: none;
  }
}

.candidate__photo {
  @include grid-column(3);
  border-radius: ($candidate-photo-width / 2);
  vertical-align: top;
  width: $candidate-photo-width;
}

.candidate__info {
  @include grid-column(8);
  display: inline-block;
  margin-left: $spacing-base * 2;
}

.candidate__summary {
  @include heading('h4');
  margin: ($spacing-base * 2) 0;

  .money {
    float: right;
  }
}

.candidate__summary--contributions {
  color: $color-evergreen;

  .money {
    color: $color-evergreen;
  }
}

.candidate__summary--expenditures {
  color: $color-cherry-red;

  .money {
    color: $color-cherry-red;
  }
}

.candidate__summary--loans {
  color: $color-navy;

  .money {
    color: $color-navy;
  }
}

.candidate__summary--balance {
  border-top: 1px $color-grey-3 solid;
  color: $color-grey-3;
  padding-top: $spacing-base * 2;
}

.candidate__money-heading {
  color: $color-navy;
}

.candidate__money-total.money {
  @include heading('h2');
  color: $color-grey-3;
  line-height: 1;
  margin-bottom: $spacing-base * 2;
  text-align: left;
}

.candidate__money-total_learn_more_region {
  color: $subheading-color;
  font-style: italic;
  font-size: $h6-font-size;
}

.candidate__expenditures {
  @include heading('h3');
  color: $subheading-color;
  margin: ($spacing-base * 2) 0;

  .money {
    float: right;
  }
}
