.candidate-summary {
  display: flex;
}

.candidate-summary__left {
  margin-bottom: $spacing-base * 2;
  margin-top: $spacing-base * 2;
}

.candidate-summary__right {
  margin-bottom: $spacing-base * 2;
  margin-top: $spacing-base * 2;
  margin-left: $spacing-base * 2;

  div {
    white-space: pre-wrap;      //* CSS3 *//
    white-space: -moz-pre-wrap; //* Firefox *//
    white-space: -pre-wrap;     //* Opera <7 *//
    white-space: -o-pre-wrap;   //* Opera 7 *//
    word-wrap: break-word;      //* IE *//
  }
}

.candidate-summary__photo {
  max-width: 80px;
}

.candidate-summary__occupation {
  font-family: $font-family-sans-serif;
  color: $color-grey-2;
}

.candidate-summary__contributions {
  font-family: $font-family-sans-serif;
  color: $color-grey-4;
  font-size: $h5-font-size;
  font-style: italic;

  .money {
    color: $color-grey-2;
    font-size: $h4-font-size;
    font-style: normal;
    margin-left: $spacing-base;
  }
}
