$col-min-width--s1: 10rem;
$breakpoint--s1: 460px;
$breakpoint--s2: $grid--medium;

.contributors {
  table-layout: fixed;
  width: 100%;
  border-top: 3px $color-gold solid;
}

.contributors__thead {
  font-weight: bold;

  tr {
    border-bottom: 1px $color-grey-4 solid;
  }

  .sort-button {
    border: 0;
    text-align: left;
    display: inline-block;
    background-color: inherit;
    width: 100%;
    height: 100%;
    padding: 0;
    white-space: nowrap;
  }
}

.arrow-container {
  $arrow-size: 10px;
  width: $arrow-size;
  height: $arrow-size;
  margin-left: $arrow-size;
  display: inline-block;
  background-position: top left;
}

.is-descending {
  background-color: $color-grey-5;

  .arrow-container {
    background-image: url('./images/down-arrow.svg');
  }
}

.is-ascending {
  background-color: $color-grey-5;

  .arrow-container {
    background-image: url('./images/up-arrow.svg');
  }
}

.contributors__name {
  padding: 0 $spacing-base;
}

.contributors__amount {
  padding: 0 $spacing-base;
  vertical-align: top;
  width: 35%;
}

.contributors__date {
  padding: 0 $spacing-base;
  vertical-align: top;
  white-space: nowrap;
  width: 25%;
}

@include media($breakpoint--s1) {
  .contributors__amount {
    width: 25%;
  }
}

@include media($breakpoint--s2) {
  .contributors__amount {
    width: 20%;
  }

  .contributors__date {
    width: 20%;
  }
}

.contributors__col--s1 {
  display: none;

  @include media($breakpoint--s1) {
    display: table-cell;
  }
}

contributions-table {
  .filter {
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
  }

  @include grid-media($neat-grid--medium) {
    .filter {
      width: 35%;
    }
  }
}
