$col-min-width--s1: 10rem;
$col-min-width--s2: 14rem;
$breakpoint--s1: $grid--small;
$breakpoint--s2: $grid--medium;

.filter {
  margin: 1rem 0;
  width: 35%;
  padding: 0.5rem;
}

.contributors {
  table-layout: fixed;
  width: 100%;
  border-top: 3px $color-gold solid;

  .contributors__amount {
    width: 20%;
  }

  .contributors__date {
    width: 20%;
  }
}

.contributors__thead {
  font-weight: bold;

  tr {
    border-bottom: 1px $color-grey-4 solid;
  }

  .active {
    background-color: $color-grey-5;
  }

  .sort-column {
    border: 0;
    width: 95%;
    text-align: left;
    padding: 0;
    margin-left: 10px;
    outline: none;
    background-color: inherit;

    &.amount {
      text-align: right;
    }
  }
}

.contributors__name {
  padding: 0 $spacing-base;
}

.contributors__amount {
  padding: 0 $spacing-base;
  text-align: right;
  vertical-align: top;

  @include media($breakpoint--s1) {
    min-width: $col-min-width--s1;
  }

  @include media($breakpoint--s2) {
    min-width: $col-min-width--s2;
  }
}

.contributors__date {
  padding: 0 $spacing-base;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;

  @include media($breakpoint--s1) {
    min-width: $col-min-width--s1;
  }

  @include media($breakpoint--s2) {
    min-width: $col-min-width--s2;
  }
}

.contributors__col--s1 {
  display: none;

  @include media($breakpoint--s1) {
    display: table-cell;
  }
}
