.election-header__updated-at {
  float: right;
  font-size: $small-font-size;
}

.election-header__day {
  float: left;
  color: $color-navy;
  font-size: $h3-font-size;
  font-weight: bold;
}

.election-header__title {
  color: $color-navy;
  font-weight: 400;
}
