.election-header__updated-at {
  font-size: $small-font-size;
}

.election-header__day {
  color: $color-navy;
  font-size: $h3-font-size;
  font-weight: bold;
}

@include grid-media($neat-grid--medium) {
  .election-header__updated-at {
    float: right;
  }

  .election-header__day {
    float: left;
  }
}

.election-header__title {
  color: $color-navy;
  font-weight: 400;
}
