.footer {
  @extend %section-border--major;
  @include font-size($font-size-small);
  background-color: $color-grey-5;
  padding-bottom: $spacing-base * 2;

  a {
    text-decoration: none;
  }

  ul {
    margin-top: 0;
    margin-bottom: $spacing-base * 2;
    padding: 0;
  }

  li {
    list-style: none;
  }
}

.footer__col {
  margin-top: 1.8rem;
  @include media($grid--medium) {
    // Last column should align right on wider screens
    &:last-child {
      text-align: right;
    }
  }
}

.footer__heading {
  @include heading('h2');
  margin-top: 0;

  a {
    color: $heading-color;
  }
}

.footer__nav {
  display: flex;
  flex-flow: column nowrap;
  @include media($grid--medium) {
    flex-direction: row;
  }
}

.footer__nav-item {
  flex: 0 0 auto;
}

.footer__nav-item:not(:last-child) {
  margin-right: 3rem;
}

.footer__stipulation {
  @include font-size($font-size-small);
  font-weight: normal;
  color: $heading-color--light;
}

.social-media-list {
  a {
    text-decoration: none;
  }

  span.username { // scss-lint:disable QualifyingElement
    text-decoration: underline;
  }
}
