$header-background-color: $color-navy;

.header {
  color: $color-white;
  background-color: $header-background-color;
  border-bottom: 5px $color-lochmara-blue solid;
  padding: $spacing-base 0;
  position: relative;
}


.header__title {
  @include heading('h2');
  color: $color-white;
  font-weight: lighter;
  text-decoration: none;
  position: relative;
  left: 40px;
  z-index: $z-header-nav;

  @include media($grid--medium) {
    display: none;
  }
}

.header__title--md {
  display: none;

  @include media($grid--medium) {
    display: initial;
    left: 0;
  }
}
