@import './header';

.header-nav {
  background-color: $header-background-color;
  line-height: 2.5;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  z-index: $z-header-nav;

  @media screen and (max-width: 768px) {
    left: 0;
  }

  a {
    color: $color-white;
    font-size: $small-font-size;
  }

  label[for="header-nav-trigger"] { // scss-lint:disable QualifyingElement
    display: block;
    float: left;
    width: 55px;
    z-index: 2;
    cursor: pointer;
  }

  .header-nav__menu-icon {
    display: block;
    float: left;
    line-height: 3;
    text-align: center;
    width: 55px;

    > svg path { // scss-lint:disable SelectorDepth
      fill: $color-white;
    }
  }

  @include media($grid--medium) {
    border: none;
    float: right;
    position: initial;

    label[for="header-nav-trigger"] { // scss-lint:disable QualifyingElement
      display: none;
    }
  }
}

.header-nav__link-item {
  display: block;
  padding: ($spacing-base * 0.5) $spacing-base;
  text-decoration: none;
  color: $color-white;

  @include media($grid--medium) {
    display: initial;
    padding: 0 $spacing-base;
  }

  @media screen and (max-width: 768px) {
    text-align: left;
    position: relative;
    left: 50px;
  }
}

.header-nav__trigger {
  display: none;

  ~ .header-nav__items {
    clear: both;
    display: none;

    @include media($grid--medium) {
      display: block;
    }
  }
}

.header-nav__trigger:checked ~ .header-nav__items {
  display: block;

  @include media($grid--medium) {
    border-bottom: 5px $color-gold solid;
  }
}
