$text-shadow-color: rgba(30, 30, 30, .8);
$scrim-color: rgba(0, 0, 0, .4);
$hero-breakpoint: $grid--medium;


$custom-grid--thirds: (
  columns: 3,
  gutter: $spacing-base * 4,
);

.custom-grid--thirds {
  @include grid-container;
}

.hero {
  padding: ($spacing-base * 4.8) ($spacing-base * 3) ($spacing-base * 6);
  position: relative;
  display: flex;
  justify-content: center;
}

.hero--photo {
  background-image: url('./images/oakland-city-hall.png');
  background-position: bottom right;
  background-size: cover;

  // When hero includes a background image, increase legibility
  .hero__subhead,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  p {
    color: $color-white;
    text-shadow: 0 2px 3px $text-shadow-color;
  }
}

.hero__content {
  max-width: 120rem;
}

.hero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5rem;

  @include media($hero-breakpoint) {
    padding: 0;
    @include grid-column(1, $custom-grid--thirds);
  }
}

.hero__subheader {
  font-style: italic;

  @include media($hero-breakpoint) {
    margin-top: $spacing-base * 7;
  }
}

.hero__hed {
  font-size: $h2-font-size;
  font-style: normal;
  margin-bottom: $spacing-base * 2.5;
}

.hero__funds_raised__total {
  font-size: 3rem;
  font-weight: $font-weight-light;
}

.hero__top-spenders {
  font-size: 1.5rem;

  ul {
    margin: 0;
  }

  li {
    color: $color-gold;
    list-style-type: none;
    margin-bottom: $spacing-base;
    line-height: 2rem;
  }
}

.hero__table-container {
  display: none;

  @include media($hero-breakpoint) {
    display: flex;
    justify-content: center;
    @include grid-column(2, $custom-grid--thirds);
  }
}

.hero__table {
  max-width: 55rem;

  // make first column half of the size of the second and third column:
  td {
    padding: $spacing-base * 2 0;
    width: 38%;
    color: $color-gold;
    text-align: center;
    font-style: italic;
  }

  td:first-child {
    width: 24%;
    text-align: left;
    vertical-align: top;
  }

  tr:last-child {
    border-bottom: none;
  }

  .hero__row__header {
    color: $color-white;
    font-style: normal;
    font-size: 1.5rem;
  }

  .hero__column__header {
    color: $color-white;
    font-style: normal;
    font-weight: $font-weight-normal;
    font-size: 2rem;
  }
}

.hero__table__head tr {
  border-bottom: none;
  margin-bottom: $spacing-base;
}

.hero__table__header {
  margin-bottom: $spacing-base * 2;
  text-align: left;
}
