$text-shadow-color: rgba(30, 30, 30, .8);
$scrim-color: rgba(0, 0, 0, .4);
$hero-breakpoint: $grid--medium;

.hero {
  padding: ($spacing-base * 6) 0;
  position: relative;
}

.hero--photo {
  @include media($hero-breakpoint) {
    //TODO waiting on a new image
    //background-image: url('./images/sacramento-capitol-splash.png');
    background-position: bottom;
    background-size: cover;

    // When hero includes a background image, increase legibility
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $color-white;
      text-shadow: 0 2px 3px $text-shadow-color;
    }

    // Include a scrim over photo backgrounds to increase legibility of content
    &::before {
      content: '';
      position: absolute;
      background-color: $scrim-color;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

// Layout element
.hero__header {
  @include grid-column(12);
  text-align: center;
}

// Layout element
.hero__main {
  @include grid-column(12);
}

.hero__hed {
  font-size: $title-font-size;

  @include media($hero-breakpoint) {
    font-style: italic;
  }
}

.hero__subhead {
  @include heading('h3');
  color: $subheading-color;
  font-style: italic;
}

.hero__lede {
  text-align: center;

  @include media($hero-breakpoint) {
    text-align: initial;
  }
}

.hero__content {
  @extend .grid--narrow;
  position: relative; // layer the content above the .hero--photo scrim
}

.hero__section {
  padding-bottom: $spacing-base * 2;
}

.hero__cta-container {
  @include grid-collapse;
}

.hero__cta-header {
  @include grid-column(12);
}

.hero__cta {
  @include grid-column(12);
  margin-top: ($spacing-base * 2);

  @include grid-media($neat-grid--small) {
    @include grid-column(6);
  }

  @include grid-media($neat-grid--medium) {
    @include grid-column(4);
  }

  // Buttons should take full width of the column
  .btn {
    width: 100%;
  }
}

.hero--landing {
  // The hero on the landing page works very differently, showing different
  // content based on the breakpoint. The breakpoints are represented as
  // sub-classes e.g. --s1
  // Hide s1 content below the breakpoint
  .hero__content--s1 {
    display: none;
  }

  @include media($hero-breakpoint) {
    // Hide the default content after the breakpoint
    .hero__content {
      display: none;
    }

    // Show the s1 content after the breakpoint
    .hero__content--s1 {
      display: block;
    }
  }

  .hero__section {
    @extend %section-border--major;
    background-color: $color-white;

    .hero__lede { // scss-lint:disable SelectorDepth
      @include heading('h2');
      font-size: 2.1rem;
      font-style: italic;
    }
  }
}
