.hover-info {
  visibility: hidden;
// Jesse asks: I tried tinkering with _typography.scss to create a "$font-size-small" variable/setting but failed. What should we do to accomodate the couple spots where a really small font is present in designs? //
  font-size: 1.25rem;
  max-width: 24rem;
  background-color: $color-grey-1;
  color: $color-white;
  border-radius: 2px;
  padding: 8px 10px;
  margin-top: 2.25rem;
  margin-left: -13rem;
  position: absolute;
  z-index: 1;

  a {
    color: $color-gold;
  }
}

.hover-info-container {
  display: inline-block;
  height: 2.25rem;
  width: 4rem;
}

.hover-info-container:hover .hover-info {
  visibility: visible;
}
