.label {
  background: $color-navy;
  border-radius: 3px;
  color: $color-white;
  font-family: $font-family-serif;
  font-size: 0.6em;
  font-weight: bold;
  padding: 0 $spacing-base;
  vertical-align: middle;
}
