.landing__description__header {
  @include heading('h3');
  color: $color-grey-2;
  font-style: italic;
  font-weight: 400;
}

.landing__description {
  margin-left: 150px;
  padding: 50px 50px;
}

.landing__description__paragraph {
  display: flex;
  justify-content: center;
  color: $color-grey-2;
  font-weight: 300;
}
