.landing__description__header {
  @include heading('h3');
  color: $color-grey-2;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  margin: auto;
  margin-bottom: $spacing-base;
}

.landing__description {
  padding: 50px;
}

.landing__description__paragraph {
  color: $color-grey-2;
  font-weight: 300;
  text-align: center;
  margin: auto;
  margin-bottom: 5px;
}
