{% assign updated_at = site.data.stats.date_processed | date: "%b. %-d, %Y" %}

<div class="l-ballot">
  <div class="l-ballot__main">
    <div class="grid-col-12">
      <span class="l-ballot__updated-at">Content last updated {{ updated_at }}</span>
    </div>
    <div class="l-ballot__content">
      <article>
        {{ include.content }}
      </article>
    </div>
  </div>
  <div class="l-ballot__nav">
    <h3 class="ballot-nav__heading--spacious ballot-nav__heading--light ballot-nav__heading--blue">{{ locality.name | escape }}</h3>
    {% for ballot in ballots %}
      {% include ballot-nav.html ballot=ballot locality=include.locality %}
    {% endfor %}
  </div>
</div>

