{% assign locality = include.locality %}
{% assign referendums = include.ballot.referendums %}
{% assign office_elections = include.ballot.office_elections %}
{% assign ballots = site.ballots | where: "locality", locality.locality_id | reverse %}

<nav class="ballot-nav">
  {% if referendums and referendums != empty %}
    <section class="l-section">
      <div class="l-section__content">
        <h3>{% include referendum_measure_heading.html referendum_measure_display=locality.referendum_measure_display %}</h3>
        {% for ballot_item in referendums %}
          {% assign referendum = site.referendums | where: "path", ballot_item | first %}
          <p><a href="{{ referendum.url | prepend: site.baseurl }}">{% if referendum.number %}{{ referendum.number }} {% endif %}{{ referendum.title | escape}}</a></p>
        {% endfor %}
      </div>
    </section>
  {% endif %}
  {% if office_elections and office_elections != empty %}
    <section class="l-section">
      <div class="l-section__content">
        {% for ballot_item in office_elections %}
          {% assign office_election = site.office_elections | where: "path", ballot_item | first %}
          <p><a href="{{ office_election.url | prepend: site.baseurl }}">{{ office_election.title }}</a></p>
        {% endfor %}
      </div>
    </section>
  {% endif %}
</nav>
