{% assign candidate = include.candidate %}
{% assign finance = site.data.candidates[candidate.slug] %}

<div class="candidate-summary">
  <div class="candidate-summary__left">
    {% include candidate-photo.html candidate=candidate class="candidate-summary__photo" %}
  </div>
  <div class="candidate-summary__right">
    <div><a href="{{ candidate.url | prepend: site.baseurl }}">{{ candidate.name | smartify | escape }}</a></div>
    <div class="candidate-summary__occupation">{% if candidate.is_incumbent %}Incumbent, {% endif %}{{ candidate.occupation | default: 'No occupation reported' | escape }}</div>
    {% if finance.total_contributions > 0 %}
      <div class="candidate-summary__contributions">amount collected <span class="money">{{ finance.total_contributions | dollars }}</span></div>
    {% else %}
      <div class="candidate-summary__contributions">no contributions have been reported</div>
    {% endif %}
  </div>
</div>
