{% assign candidate = include.candidate %}
<div class="candidate-summary">
  <div class="candidate-summary__left">
    <img class="candidate-summary__photo" src="{{ candidate.photo_url | default: 'https://s3-us-west-1.amazonaws.com/odca-candidate-photos/no-image.png' }}" alt="{{ candidate.name }}" />
  </div>
  <div class="candidate-summary__right">
    <div><a href="{{ candidate.url | prepend: site.baseurl }}">{{ candidate.name | escape }}</a></div>
    <div class="candidate-summary__occupation">{{ candidate.occupation | escape }}</div>
    <div class="candidate-summary__contributions">amount collected <span class="money">{{ candidate.total_contributions | times: 100 | money }}</span></div>
  </div>
</div>
