<footer class="footer grid">

  <div class="footer__wrapper grid-col-12">

    <h2 class="footer__heading"><a class="brand" href="{{ site.baseurl }}/">OD<span class="brand__em">Ca</span></a></h2>

    <div class="footer__content grid--full">
      <div class="footer__col grid-col-6">
        <ul>
          <li><a class="footer__nav-item" href="{{ site.baseurl }}/about/">About</a></li>
          <li><a class="footer__nav-item" href="{{ site.baseurl }}/faq/">FAQ</a></li>
          <li><a class="footer__nav-item" href="http://caciviclab.org/opendisclosure/">Join us</a></li>
        </ul>
      </div>

      <div class="footer__col grid-col-6">
        <span class="tagline">Brought to you by <span class="tagline__em">California Civic Lab</span></span>
      </div>
    </div>

  </div>

</footer>
