{% assign color = include.color | default: "blue" %}
{% assign maximum = include.max | default: 1000 %}
{% assign width = include.value | divided_by: maximum %}

<div class="money-bar">
  <div class="money-bar__label">{{ include.label }}</div>
  <div class="money-bar__measure-container">
    <div class="money-bar__measure money-bar__measure--{{ color }}" style="width: {{ width }}%;">
      <span class="money-bar__money money-bar__money--inline">{{ include.value | times: 100 | money }}</span>
    </div>
    <span class="money-bar__money">{{ include.value | times: 100 | money }}</span>
  </div>
</div>
