
{% comment %}
committee data expected this shape:
  committees = [
    {
      amount
      filer_id || id
      name
    }
  ]
{% endcomment %}

{% comment %}
First we calculate the maximum for the money bar.
{% endcomment %}
{% assign max = 0 %}
{% for committee in include.committees %}
  {% assign amount = committee.Total | default: committee.amount %}
  {% assign max = max | plus: amount %}
{% endfor %}

{% for committee in include.committees %}
  {% comment %}
  We're dealing with three different object shapes
    1. a committee from committees collection
    and one of the following:
    2. a committee from the referendum supporting/opposing organization list.
    3. a committee from the candidate support_list/opposition_list organization list
  committee collection has:
    `filer_id`
  referendum support/oppose org list has:
    `id`
  candidate support/oppose org list has:
    `Filer_ID`
    `Total`
    `Filer_NamL`
  {% endcomment %}

  {% if committee.id %}
    {% assign filer_id = committee.id %}
  {% elsif committee.Filer_ID %}
    {% assign filer_id = committee.Filer_ID %}
  {% else %}
    {% assign filer_id = committee.filer_id %}
  {% endif %}
  {% assign money = committee.Total | default: committee.amount %}
  {% assign name = committee.Filer_NamL | default: committee.name %}

  {% if filer_id != "pending" and filer_id != "Pending" and filer_id != "PENDING" %}
  <div class="committee__support_oppose">
    <div>{{ name | smartify }}</div>
    {% if money > 0 %}
      <div>{{ money | dollars }}</div>
      {% include money-bar.html value=money color=include.color max=max %}
    {% else %}
      <div class="note">No expenditures have been reported by this committee</div>
    {% endif %}
    <a href="{{ site.baseurl }}/committee/{{ filer_id }}/">See all contributions to this committee</a>
  </div>
  {% endif %}
{% endfor %}
