---
layout: default
---
{% assign ballot = page %}
{% assign locality = site.localities | where: 'slug', ballot.locality | first %}

{% assign today = site.time | date: "%Y-%m-%d" %}
{% assign current_election = locality.current_election | date: "%B %-d, %Y" %}
{% assign data_totals = site.data.totals[ballot.election_id] %}
{% assign election_totals = site.data.elections[ballot.election] %}

{% capture body %}
<header>
  <h1>Data for {{ballot.locality | capitalize}} Election on {{ballot.election | date: "%B %-d, %Y"}}</h1>
</header>
{% include election-summary.html %}
{% endcapture %}
{% include ballot-layout.html content=body ballot=ballot locality=locality %}
