---
layout: default
---
{% assign ballot = page %}

<h1>Election {{ ballot.date }} (locality: {{ ballot.locality_id }})</h1>

{% for ballot_item in ballot.ballot_items %}
  <h3>{{ ballot_item.name }}</h3>
  {% if ballot_item.contest_type == "Office" %}
  <ul>
    {% for candidate_object in ballot_item.candidates %}
      {% assign candidate = candidate_object.id | find_candidate_page %}
      <li>
        <a href="{{ candidate.url | prepend: site.baseurl }}">
          {{ candidate['first_name'] }} {{ candidate['last_name'] }}
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    {% assign referendum = site.referendums | where: "path", ballot_item.referendum | first %}
    <p><a href="{{ referendum.url | prepend: site.baseurl }}">{{ referendum.number }} {{ referendum.title | escape}}</a></p>
    <p>{{ referendum.content }}</p>
  {% endif %}
{% endfor %}

<h2>All elections:</h2>
<div>
<ul>
  {% for ballot in ballots %}
  <li><a href="{{ ballot.url | prepend: site.baseurl }}">{{ ballot.election | date: "%B %-d, %Y" }}</a></li>
  {% endfor %}
</ul>
</div>
