---
layout: default
---
{% assign ballot = page %}
{% assign locality = site.localities | where: 'slug', ballot.locality | first %}

{% assign ballots = site.elections | where: "locality", locality.locality_id %}
{% comment %}
    ¿Is this used anywhere?
    {% assign current_ballot = ballots | where: "election", locality.current_election | first %}
{% endcomment %}
{% assign today = site.time | date: "%Y-%m-%d" %}
{% assign current_election = locality.current_election | date: "%Y-%m-%d" %}
{% assign ballot_year = page.election | slice: 0, 4 %}
{% assign related_elections = ballots | map: "election" | where_exp: "election", "election contains ballot_year" %}
{% comment %}
    ¿Why the circular reference, ballot = page, page.ballot = ballot?
    ⚠️ This doesn't actually seem to be allowed, setting a property on page like this
{% endcomment %}
{% assign page.ballot = ballot %}

{% capture body %}
<span>Election-wide finance data coming soon! Choose a ballot item from the navigation.</span>
{% endcapture %}
{% include ballot-layout.html content=body ballot=ballot locality=locality related_elections=related_elections %}
