---
layout: default
---
{% assign candidate = page %}
{% assign finance = site.data.candidates[candidate.slug] %}
{% assign ballot_path = candidate.ballots | first %}
{% assign ballot = site.ballots | where: "path", ballot_path | first %}
{% assign locality = site.localities | where: "locality_id", ballot.locality | first %}

{% capture body %}
<div class="candidate">
  <header class="candidate__header grid">
    <div class="grid-col-12">
      <h2>{{ candidate.name }}</h2>
    </div>
  </header>
  <div class="candidate__main">
    <section class="l-section">
      <div class="l-section__content">
        <div class="candidate__info-container">
          <img class="candidate__photo" src="{{ candidate.photo_url | default: 'https://s3-us-west-1.amazonaws.com/odca-candidate-photos/no-image.png' }}" alt="{{ candidate.name }}" />
          <div class="candidate__info">
            <div class="candidate__occupation-commitee-name">{% if candidate.is_incumbent == true and candidate.committee_name != null %}
              Incumbent |
            {% elsif candidate.is_incumbent == true and candidate.committee_name == null %}
              Incumbent
            {% elsif candidate.is_incumbent == false and candidate.committee_name != null and candidate.occupation != null %}
              {{ candidate.occupation }} |
            {% elsif candidate.is_incumbent == false and candidate.committee_name == null %}
              {{ candidate.occupation }}
            {% endif %}
            {% if candidate.committee_name != null %}<span class="candidate__commitee-name"> {{ candidate.committee_name }} </span>{% endif %}</div>
            {% if candidate.is_accepted_expenditure_ceiling %}
            <div class="candidate__expenditure-ceiling">
              This candidate has agreed to the voluntary spending limits.
              The maximum contribution this candidate can accept is $800.
              <span class="hover-info-container"><img src="{{ "/assets/images/icon_more_info.png" | relative_url }}"
                     alt="Voluntary spending limits - more information" />
                     <span class="hover-info">For more detail on voluntary spending limits, see the <a href="{{ "/faq" | relative_url }}">FAQ article</a>.</span>
              </span>
            </div>
              {%  endif %}
            <div><a href="{{ candidate.website_url }}">{{ candidate.website_url }}</a></div>
            <div><a href="https://twitter.com/{{ candidate.twitter_url }}">{{ candidate.twitter_url }}</a></div>
          </div>
        </div>
      </div>
    </section>
    {% if finance.total_contributions or finance.total_expenditures %}
      {% include candidate/finance.html candidate=candidate finance=finance %}
    {% else %}
      <section class="l-section">
        <div class="l-section__content">
          <p>No finance data is available for this candidate.</p>
        </div>
      </section>
    {% endif %}
  </div>
</div>
{% endcapture %}
{% include ballot-layout.html content=body locality=locality ballot=ballot %}
