---
layout: default
---
{% assign candidate = page %}
{% if candidate.filer_id != empty %}
  {% assign other_committees = site.committees | where:"candidate_controlled_id", candidate.filer_id %}
{% endif %}
{% assign opposing_committees = site.committees | where: "opposing_candidate", candidate.slug %}
{% assign ballot = site.elections | where: "path", candidate.election | first %}
{% assign locality = site.localities | where: "locality_id", ballot.locality | first %}
{% assign election_day = ballot.election | date: '%Y-%m-%d' %}
{% assign finance = site.data.candidates[locality.slug][election_day][candidate.slug] %}
{% assign opposing_committees = finance.opposing_money.opposition_list %}
{% assign supporting_committees = finance.supporting_money.support_list %}
{% assign expenditures_opposing = finance.opposing_money.opposing_expenditures %}
{% assign expenditures_supporting = finance.supporting_money.total_supporting_independent %}

{% capture body %}
<div class="candidate">
  <header class="candidate__header grid">
    <div class="grid-col-12">
      <h2>{{ candidate.name | smartify | escape }}</h2>
    </div>
  </header>
  <div class="candidate__main">
    <section class="l-section">
      <div class="l-section__content">
        <div class="candidate__info-container">
          {% include candidate-photo.html candidate=candidate class="candidate__photo" %}
          <div class="candidate__info">
            <div class="candidate__occupation-commitee-name">{% if candidate.is_incumbent == true and
              candidate.committee_name != null %}
              Incumbent |
              {% elsif candidate.is_incumbent == true and candidate.committee_name == null %}
              Incumbent
              {% elsif candidate.is_incumbent == false and candidate.committee_name != null and candidate.occupation !=
              null %}
              {{ candidate.occupation }} |
              {% elsif candidate.is_incumbent == false and candidate.committee_name == null %}
              {{ candidate.occupation }}
              {% endif %}
              {% if candidate.committee_name != null %}<span class="candidate__commitee-name"> {{
                candidate.committee_name | smartify | escape }} </span>{% endif %}</div>
            {% if candidate.is_accepted_expenditure_ceiling %}
            <div class="candidate__expenditure-ceiling">
              This candidate has agreed to voluntary spending limits.
              The maximum contribution this candidate can accept is $800 from any individual, business entity,
              committee or other organization and $1,600 from a qualified broad-based committee.
              <span class="hover-info-container"><img src="{{ '/assets/images/icon_more_info.png' | relative_url }}"
                  alt="Voluntary spending limits - more information" />
                  <span class="hover-info">For more on Oakland contribution limits and campaign rules, see the <a href="https://www.oaklandca.gov/resources/oakland-campaign-contribution-limits">
                    Public Ethics Commission Candidate Resources page</a>.</span>
              </span>
            </div>
            {% endif %}
            {% if candidate.website_url %}
            <div class="candidate__link"><a href="{{ candidate.website_url }}">{% include svg-icon.html
                icon="desktop-solid" %} {{ candidate.website_url }}</a></div>
            {% endif %}
            {% if candidate.twitter_url %}
            <div class="candidate__link"><a href="https://twitter.com/{{ candidate.twitter_url }}">{% include
                svg-icon.html icon="twitter-brands" %} {{ candidate.twitter_url }}</a></div>
            {% endif %}
            {% if candidate.votersedge_url %}
            <div class="candidate__link"><a href="{{ candidate.votersedge_url }}" target="_blank">{% include
                svg-icon.html icon="external-link-square-alt-solid" %} Voter’s Edge profile</a></div>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    {% if finance.total_contributions > 0 or finance.total_expenditures > 0
      or finance.supporting_money.total_supporting_independent > 0 or finance.opposing_money.opposing_expenditures > 0 %}
      {% include candidate/finance.html candidate=candidate finance=finance %}
    {% else %}
    <section class="l-section">
      <div class="l-section__content">
        {% if candidate.data_warning %}
          {% include alert-message.html message=candidate.data_warning %}
        {% endif %}
        <p><i>No finance data is available for this candidate.</i></p>
      </div>
    </section>
    {% endif %}
    {% if other_committees and other_committees != empty %}
    <section class="l-section">
      <div class="l-section__content">
        <h2 class="candidate__money-heading">Other committees controlled by this candidate</h2>
        {% for committee in other_committees %}
        <p><a href="{{ site.baseurl }}/committee/{{ committee.filer_id }}/">{{ committee.name | smarity | escape }}</a></p>
        {% endfor %}
      </div>
    </section>
    {% endif %}
{% if expenditures_opposing > 0 or expenditures_supporting > 0 %}
<section class="l-section">
  <div class="l-section__content">
    {% if expenditures_opposing > 0 %}
    <div class="candidate__expenditures">
      Independent expenditures opposing candidate <span class="money">{{ expenditures_opposing | dollars }}</span>
      <span class="hover-info-container"><img src="{{ '/assets/images/icon_more_info.png' | relative_url }}"
        alt="Independent expenditures - more information" />
        <span class="hover-info">Spending by third parties that advocates the election or defeat of a candidate and is not made in coordination with a candidate or campaign committee is termed an independent expenditure. To learn more,
          <a href="{{ site.baseurl }}/faq/">see the FAQ </a>.</span>
      </span>
    </div>
    {% endif %}
    {% if expenditures_supporting > 0 %}
    <div class="candidate__expenditures">
      Independent expenditures supporting candidate <span class="money">{{ expenditures_supporting | dollars }}</span>
      {% if expenditures_opposing <= 0 %}
      <span class="hover-info-container"><img src="{{ '/assets/images/icon_more_info.png' | relative_url }}"
        alt="Independent expenditures - more information" />
        <span class="hover-info">Spending by third parties that advocates the election or defeat of a candidate and is not made in coordination with a candidate or campaign committee is termed an independent expenditure. To learn more,
          <a href="{{ site.baseurl }}/faq/">see the FAQ </a>.</span>
      </span>
      {% endif %}
    </div>
    {% endif %}
  </div>
</section>
{% endif %}
    {% if supporting_committees != empty or opposing_committees != empty %}
    <section class="l-section">
      <div class="l-section__content">
        <h2>Spending breakdown by committee</h2>
      </div>
      <div class="l-section__content l-section__content--half">
      <!-- supporting contributions/expenditures column -->
        <div class="subheading">In support of the candidate</div>
        {% include supporting_opposing_committees.html committees=supporting_committees color="green" %}
        </div>
      <!-- opposing contributions/expenditures column -->
      <div class="l-section__content l-section__content--half">
        <div class="subheading">In opposition of the candidate</div>
        {% include supporting_opposing_committees.html committees=opposing_committees color="red" %}
      </div>
    </section>
    {% endif %}
  </div>
</div>
{% endcapture %}
{% include ballot-layout.html content=body locality=locality ballot=ballot %}