---
layout: default
---
{% assign candidate = page %}
{% assign ballot_path = candidate.ballots | first %}
{% assign ballot = site.ballots | where: "path", ballot_path | first %}
{% assign locality = site.localities | where: "locality_id", ballot.locality | first %}

{% capture body %}
<div class="candidate">
  <header class="candidate__header grid">
    <div class="grid-col-12">
      <h2>{{ candidate.name }}</h2>
    </div>
  </header>
  <div class="candidate__main">
    <section class="l-section">
      <div class="l-section__content">
        <div class="candidate__info-container">
          <img class="candidate__photo" src="{{ candidate.photo_url | default: 'https://s3-us-west-1.amazonaws.com/odca-candidate-photos/no-image.png' }}" alt="{{ candidate.name }}" />
          <div class="candidate__info">
            <div class="candidate__occupation">{{ candidate.occupation }}</div>
            <div><a href="{{ candidate.website_url }}">{{ candidate.website_url }}</a></div>
            <div><a href="https://twitter.com/{{ candidate.twitter_url }}">{{ candidate.twitter_url }}</a></div>
          </div>
        </div>
      </div>
    </section>
    <section class="l-section">
      <div class="l-section__content">
        {{ candidate.content }}
      </div>
    </section>
    <section class="l-section">
      <div class="l-section__content">
        <div class="candidate__summary candidate__summary--contributions">Contributions: <span class="money">{{ candidate.total_contributions | times: 100 | money }}</span></div>
        <div class="candidate__summary candidate__summary--expenditures">Expenditures: <span class="money">{{ candidate.total_expenditures | times: 100 | money }}</span></div>
        {% if candidate.total_loans_received > 0 %}
        <div class="candidate__summary candidate__summary--loans">Loans: <span class="money">{{ candidate.total_loans_received | times: 100 |  money }}</span></div>
        {% endif %}
        <div class="candidate__summary candidate__summary--balance">Current balance: <span class="money">{{ candidate.total_contributions | minus: candidate.total_expenditures | minus: candidate.total_loans_received | times: 100 | money }}</span></div>
      </div>
    </section>
    <section class="l-section">
      <div class="l-section__content">
        <h2 class="candidate__expenditures-opposing">Expenditures opposing candidate <span class="money">{{ candidate.opposing_money.opposing_expenditures | times: 100 | money }}</span></h2>
      </div>
    </section>
    {% assign money_bar_max = candidate.total_contributions | plus: candidate.total_expenditures %}
    <section class="l-section">
      <div class="l-section__content l-section__content--half">
        <div class="subheading">Money coming in</div>
        <h2 class="candidate__money-heading">Contributions</h2>
        <div class="candidate__money-total money">{{ candidate.total_contributions | times: 100 | money }}</div>
        {% for contribution_type in candidate.supporting_money.contributions_by_type %}
          {% assign label=contribution_type[0]  %}
          {% assign value=contribution_type[1]  %}
          {% include money-bar.html label=label value=value color="green" max=money_bar_max %}
        {% endfor %}
        {% if candidate.filer_id and candidate.filer_id != "" %}
          <p><a href="{{ site.baseurl }}/committee/{{ candidate.filer_id }}/">See all contributions</a></p>
        {% endif %}
      </div>
      <div class="l-section__content l-section__content--half">
        <div class="subheading">Money going out</div>
        <h2 class="candidate__money-heading">Expenditures</h2>
        <div class="candidate__money-total money">{{ candidate.total_expenditures | times: 100 | money }}</div>
        {% for expenditure_type in candidate.supporting_money.expenditures_by_type %}
          {% assign label=expenditure_type[0]  %}
          {% assign value=expenditure_type[1]  %}
          {% include money-bar.html label=label value=value color="red" max=money_bar_max %}
        {% endfor %}
      </div>
    </section>
    {% assign money_bar_max = candidate.total_contributions %}
    <section class="l-section">
      <div class="l-section__content">
        <div class="subheading">Money coming in</div>
        <h2 class="candidate__money-heading">Contributions</h2>
        <div class="candidate__money-total money">{{ candidate.total_contributions | times: 100 | money }}</div>
        {% for contribution_type in candidate.supporting_money.contributions_by_origin %}
          {% assign label=contribution_type[0]  %}
          {% assign value=contribution_type[1]  %}
          {% include money-bar.html label=label value=value color="green" max=money_bar_max format='percent' %}
        {% endfor %}
      </div>
    </section>
  </div>
</div>
{% endcapture %}
{% include ballot-layout.html content=body locality=locality ballot=ballot %}
