---
layout: default
---
{% assign empty_array = '' | split: '' %}
{% assign committee = page %}
{% assign contributions = site.data.committees[committee.filer_id].contributions | default: empty_array | sort: 'Tran_Amt1' | reverse %}


<header class="grid">
  <h1 class="grid-col-12">{{ committee.name }}</h1>
</header>
<article class="l-committee grid">
  <div class="grid-col-12">
    <h2>Contributions</h2>
    {% if contributions == empty %}
      <p>Sorry, there is no contribution data available for this committee.</p>
    {% else %}
    <div id="react-contributions" data-contributions="{{ contributions | jsonify | escape }}"></div>
    {% endif %}
  </div>
</article>
