---
layout: default
---
{% assign empty_array = '' | split: '' %}
{% assign committee = page %}
{% assign finance = site.data.committees[committee.filer_id] %}
{% assign contributions = finance.contributions | default: empty_array | sort: 'Tran_Amt1' | reverse %}
{% assign by_election = finance.contributions_by_election %}


<header class="grid">
  <h1 class="grid-col-12">{{ committee.name }}</h1>
</header>
<article class="l-committee grid">
  <div class="grid-col-12">
    <h2>Contributions</h2>
    <div class="total-contributions">
      Total money raised to date:
      <span class="money">{{ finance.total_contributions | dollars }}</span>
    </div>
    <div>
      {% for election in by_election %}
        {% assign title=election[1][0]  %}
        {% assign amount=election[1][1]  %}
        Total for {{ title }}:
        <span class="money">{{ amount | dollars }}</span>
        <br>
      {% endfor %}
    </div>
    {% if candidate.filer_id and candidate.filer_id != "" %}
      <p><a href="{{ site.baseurl }}/committee/{{ candidate.filer_id }}/">{% include
        svg-icon.html icon="table-solid" %} See all contributions</a></p>
    {% endif %}
    {% if committee.data_warning %}
      <div class="grid grid--full grid--narrow grid--left">
        <div class="grid-col-12">
          {% include alert-message.html message=committee.data_warning %}
        </div>
      </div>
    {% endif %}
    {% assign by_employer = finance.contributions_by_employer %}
    {% assign by_occupation = finance.contributions_by_occupation %}
    {% assign employer_count = by_employer | size %}
    {% assign occupation_count = by_occupation | size %}
    {% if employer_count > 0 or occupation_count > 0 %}
    <div class="grid grid--full">
      <div class="grid-col-12">
        <h2>Where individual contributors work
          {%- capture tooltip_message -%}
          Based on the employer and occupation that individual contributors
          report on itemized contributions. Different spellings of the same
          employer or occupation are grouped together. Contributions reporting
          neither an employer nor an occupation are not shown.
          {%- endcapture -%}
          {% include tooltip.html message=tooltip_message %}</h2>
      </div>
      <div class="grid-col-6">
        <div class="subheading">Top employers</div>
        {% assign employer_max = by_employer[0].total %}
        {% for employer in by_employer limit:10 %}
          {% include money-bar.html label=employer.name value=employer.total color="green" max=employer_max %}
        {% endfor %}
      </div>
      <div class="grid-col-6">
        <div class="subheading">Top occupations</div>
        {% assign occupation_max = by_occupation[0].total %}
        {% for occupation in by_occupation limit:10 %}
          {% include money-bar.html label=occupation.name value=occupation.total color="green" max=occupation_max %}
        {% endfor %}
      </div>
    </div>
    {% endif %}
    {% if contributions == empty %}
      <p>
        Sorry, there is no contribution data available for this committee. Note
        that contributor tables do not presently include loans, although funds
        from loans are included in the total contributions received.
      </p>
    {% else %}
      <p class="note">
        Contributor tables do not presently include loans, although funds
        from loans are included in the total contributions received.
      </p>
      <contributions-table
        contributions="{{ contributions | jsonify | escape }}"
        iec="{{ finance.iec }}">
      </contributions-table>
    {% endif %}
  </div>
</article>
