---
layout: default
---
{% assign locality = page %}

{% assign ballots = site.ballots %}
{% assign current_ballot = ballots | where: "is_current_ballot", true | first %}
{% assign today = site.time | date: "%Y-%m-%d" %}
{% assign current_election = ballot.date | date: "%Y-%m-%d" %}

<h1>{{ locality.title }}</h1>

<div>
  {% if current_election > today %}Upcoming{% else %}Recent{% endif %}
  election: <a href="{{ locality.url | prepend: site.baseurl }}">{{ locality.current_election | date: "%B %-d, %Y" }}</a>
</div>

<h2>{{ current_ballot.date | date: "%B %-d, %Y" }}</h2>
{% for ballot_item in current_ballot.ballot_items %}
  <h3>{{ ballot_item.name }}</h3>
  {% if ballot_item.contest_type == "Office" %}
  <ul>
    {% for candidate in ballot_item.candidates %}
      {% assign candidate_page = site.candidates | where: "id", candidate.id | first %}
      <li><a href="{{ candidate_page.url | prepend: site.baseurl }}">{{ candidate.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    {% assign referendum = ballot_item %}
    {% assign referendum_page = site.referendums | where: "number", referendum.number | first%}
    <p>
      <a href="{{ referendum_page.url | prepend: site.baseurl }}">
        {{ referendum.number }} {{ referendum.title | escape}}
      </a>
    </p>

    <p>{{ referendum.summary }}</p>
  {% endif %}
{% endfor %}

<h2>All elections:</h2>
<div>
<ul>
  {% for ballot in ballots %}
  <li><a href="{{ ballot.url | prepend: site.baseurl }}">{{ ballot.date | date: "%B %-d, %Y" }}</a></li>
  {% endfor %}
</ul>
</div>
