---
layout: default
---
{% assign office_election = page %}
{% assign ballot = site.ballots | where: "path", office_election.ballot | first %}
{% assign locality = site.localities | where: "locality_id", ballot.locality | first %}

{% comment %}
Filter the candidates for this election.
{% endcomment %}
{% assign ballot_candidates = site.candidates | where_exp: "item", "item.path contains ballot.election" %}

{% capture body %}
<div class="office-election">
  <header class="office-election__header">
    <h2>{{ office_election.title }}</h2>
  </header>
  <main>
    {% for candidate_id in office_election.candidates %}
      {% assign candidate = ballot_candidates | where: "slug", candidate_id | first %}
      <div class="office-election__candidate">{% include candidate-summary.html candidate=candidate %}</div>
    {% endfor %}
  </main>
</div>
{% endcapture %}
{% include ballot-layout.html content=body locality=locality ballot=ballot %}
