---
layout: default
---
{% assign referendum = page %}
{% assign election_day = referendum.election | date: "%Y-%m-%d" %}
{% assign referendum_id = referendum.title | slugify: 'latin' %}
{% assign supporting = site.data.referendum_supporting[referendum.locality][election_day][referendum_id] %}
{% assign opposing = site.data.referendum_opposing[referendum.locality][election_day][referendum_id] %}
{% capture ballot_path %}_ballots/{{ referendum.locality }}/{{ election_day }}.md{% endcapture %}
{% assign ballot = site.ballots | where: 'path', ballot_path | first %}
{% assign locality = site.localities | where: 'locality_id', ballot.locality | first %}

{% capture body %}
<header>
  {% if referendum.number %}
    <h1>Measure {{ referendum.number }}</h1>
    <h2>{{ referendum.title | escape }}</h2>
  {% else %}
    <h1>{{ referendum.title | escape }}</h1>
    <div><p><i>No measure number has been assigned.</i></p></div>
  {% endif %}
</header>
<section class="l-section">
  {{ referendum.content }}
</section>

{% if supporting.total_contributions > 0 or opposing.total_contributions > 0 %}
<!-- supporting money column -->
<section class="l-section">
  <div class="l-section__content l-section__content--half">
    <center>
      <h2 class="section-header">Supporting Money
        <div>{{ supporting.total_contributions | dollars }}</div>
      </h2>
    </center>
  </div>
  <div class="l-section__content l-section__content--half">
    <center>
      <h2 class="section-header">Opposing Money
        <div>{{ opposing.total_contributions | dollars }}</div>
      </h2>
    </center>
  </div>
</section>
<section class="l-section">
  <div class="l-section__content">
    <h2 class="section-header">Contributions by region</h2>
  </div>
  <div class="l-section__content l-section__content--half">
    <div class="subheading">Supporting regions</div>
    {% include contributions_by_region.html supporting_opposing=supporting color="green" %}
    {% if supporting and supporting.supporting_organizations != empty %}
    {% endif %}
  </div>
  <div class="l-section__content l-section__content--half">
    <div class="subheading">Opposing regions</div>
    {% include contributions_by_region.html supporting_opposing=opposing color="red" %}
    {% if opposing and opposing.opposing_organizations != empty %}
    {% endif %}
  </div>
</section>
<section class="l-section">
  <div class="l-section__content">
    <h2>Contributions by type</h2>
  </div>
  <div class="l-section__content l-section__content--half">
    <div class="subheading">Supporting contributors</div>
    {% include contributions_by_type.html supporting_opposing=supporting color="green" %}
  </div>
  <div class="l-section__content l-section__content--half">
    <div class="subheading">Opposing contributors</div>
    {% include contributions_by_type.html supporting_opposing=opposing color="red" %}
  </div>
</section>

<!-- supporting contributions/expenditures column -->
<section class="l-section">
  <div class="l-section__content">
    <h2>Expenditures</h2>
  </div>
  <div class="l-section__content l-section__content--half">
    <div class="subheading">In support of the measure</div>
    {% include supporting_opposing_committees.html committees=supporting.supporting_organizations color="green" %}
  </div>

<!-- opposing contributions/expenditures column -->
  <div class="l-section__content l-section__content--half">
    <div class="subheading">In opposition of the measure</div>
    {% include supporting_opposing_committees.html committees=opposing.opposing_organizations color="red" %}
  </div>
</section>
{% else %}
<section class="l-section">
  <div class="l-section__content">
    <p><i>No filings have been reported for this ballot measure.</i></p>
  </div>
</section>
{% endif %}

{% endcapture %}
{% include ballot-layout.html content=body ballot=ballot locality=locality %}
