---
layout: default
---
{% assign supporting = page %}

{% capture body %}
  <h2>Supporters of measure {{ supporting.number }}</h2>
  <section class="l-section">
    <center>
      <h3>Contributions supporting the measure</h3>
      <span>{{ supporting.total_contributions | dollars }}</span>
    </center>
  </section>
  <section class="l-section">
    <center>
      <h3>Expenditures supporting the measure</h3>
    </center>
    {% include supporting_opposing_committees.html committees=supporting.supporting_organizations %}
  </section>
{% endcapture %}
{% include ballot-layout.html content=body ballot=ballot locality=locality %}
