$grid--small: 360px;
$grid--medium: 768px;
$grid--large: 1200px;

$grid-width-narrow: 800px;

$gutter--small: 16px;
$gutter--large: 16px;

// Default Neat grid is for extra small screens (< $grid--small)
$neat-grid: (
  columns: 12,
  gutter: $gutter--small,
);

$neat-grid--small: (
  columns: 12,
  gutter: $gutter--small,
  media: $grid--small,
);

$neat-grid--medium: (
  columns: 12,
  gutter: $gutter--large,
  media: $grid--medium,
);

$neat-grid--large: (
  columns: 12,
  gutter: $gutter--large,
  media: $grid--large,
);

@mixin media($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

.grid {
  @include grid-container;
}

.grid--narrow {
  @include grid-container;
  margin: auto;
  max-width: $grid-width-narrow;
}

.grid--left {
  margin-left: 0;
}

.grid--full {
  @include grid-collapse;
  @include grid-container;

  @include grid-media($neat-grid--small) {
    @include grid-collapse($neat-grid--small);
  }

  @include grid-media($neat-grid--medium) {
    @include grid-collapse($neat-grid--medium);
  }

  @include grid-media($neat-grid--large) {
    @include grid-collapse($neat-grid--large);
  }
}

@for $i from 1 through 12 {
  .grid-col-#{$i} {
    // Columns are 1 column wide on x-small screens
    @include grid-column(12);

    // Columns are 1 column wide on small screens
    @include grid-media($neat-grid--small) {
      @include grid-column(12);
    }

    @include grid-media($neat-grid--medium) {
      @include grid-column($i);
    }

    @include grid-media($neat-grid--large) {
      @include grid-column($i);
    }
  }

  .grid-col-#{$i}--xs {
    @include grid-column($i);
  }

  .grid-col-#{$i}--sm {
    @include grid-media($neat-grid--small) {
      @include grid-column($i);
    }
  }
}
