.search__wrapper {
  margin-top: 2 * $spacing-base;
  margin-bottom: 4 * $spacing-base;
}

.election-checkboxes {
  @include media($grid--small) {
    margin-bottom: 2 * $spacing-base;
  }
}

.searchbar {
  margin-bottom: $spacing-base;

  input {
    height: 3rem;
    padding-left: 3 * $spacing-base;
    font-size: $small-font-size;
  }
}

.hit-list {
  font-size: $small-font-size;
}

.ais-Highlight-highlighted {
  font-size: $small-font-size;
}

.ais-Highlight-nonHighlighted {
  font-size: $small-font-size;
}

// NOTE: These `ais` classes override the default classes from Algolia Instant Search
.ais-Pagination {
  margin-top: 2 * $spacing-base;
}

.ais-RefinementList-item,
.ais-RefinementList-label,
.ais-RefinementList-checkbox,
.ais-RefinementList-labelText {
  font-size: $small-font-size;
}

.ais-RefinementList-count,
.ais-ClearRefinements-button {
  font-size: 1rem;
}

.ais-RefinementList-labelText {
  margin-left: 0.5 * $spacing-base;
}
