.search__wrapper {
  margin-top: 20px;
  margin-bottom: 50px;
}

.searchbar {
  margin-bottom: 10px; 

  input {
    height: 20px;
  }
}
.ais-Pagination {
  margin-top: 20px;
}

.ais-Hits-item {
  width: 100% !important;
}

.ais-RefinementList-labelText {
  margin-left: 5px;
}