$color-grey-1: #303030 !default;
$color-grey-2: #555 !default;
$color-grey-3: #808080 !default;
$color-grey-4: #909090 !default;
$color-grey-5: #f0f0f0 !default;

$color-blue: #006ea3 !default;
$color-cream: #e7e7e7 !default;
$color-gold: #ffdd1f !default;
$color-green: #0fc48b !default;
$color-navy: #eceff1 !default;
$color-red: #e95300 !default;
$color-white: #fff !default;

$body-background-color: $color-cream !default;
$body-color: $color-grey-1 !default;
$border-soft-color: $color-cream !default;
$headings-color: $color-grey-2 !default;
$link-color: $color-blue !default;
$note-color: $color-grey-3 !default;
$subheading-color: $color-grey-3 !default;
