html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include font-size();
  background: $body-background-color;
  color: $body-color;
  font-family: $font-family-sans-serif;
  overflow-x: hidden;
}

body,
form {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-family-serif();
  color: $headings-color;
}

a {
  color: $link-color;
}
