$font-size-base: 1.8 !default;
$font-size-small: 1.4 !default;

$h1-font-size: 4rem !default;
$h2-font-size: 3rem !default;
$h3-font-size: 2rem !default;
$h4-font-size: 1.7rem !default;
$h5-font-size: 1.5rem !default;
$h6-font-size: 1.3rem !default;

$base-font-size: $font-size-base * 1rem;
$small-font-size: $font-size-small * 1rem;

$base-line-height: 1.5 !default;
$heading-line-height: 1.3 !default;

// Define font size in rem with a px fallback
@mixin font-size($size: $font-size-base) {
  font-size: ($size * 10) + px;
  font-size: $size + rem; // scss-lint:disable DuplicateProperty
}

@mixin heading($size) {
  @include font-family-serif();
  color: $headings-color;
  line-height: $heading-line-height;
  @if $size == 'h1' { font-size: $h1-font-size; }
  @if $size == 'h2' { font-size: $h2-font-size; }
  @if $size == 'h3' { font-size: $h3-font-size; }
  @if $size == 'h4' { font-size: $h4-font-size; }
  @if $size == 'h5' { font-size: $h5-font-size; }
  @if $size == 'h6' { font-size: $h6-font-size; }
}

body {
  @include font-size();
  background: $body-background-color;
  color: $body-color;
  font-family: $font-family-sans-serif;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-family-serif();
  color: $headings-color;
  line-height: $heading-line-height;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

a {
  color: $link-color;
}
